@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
/* navbar start */
.navber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo-img{
    width: 85px;
    height: 40px;
}
.logo-title{
    font-size: 2.7rem;
    
}
span{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #3C354F;
    font-size: 1.2rem;
    
}
.btn-primary{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #3C354F;
    font-size: 1.2rem;
    cursor: pointer;
}
/* navbar end */


.goat-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.goat-container-details{
    text-align: left;
    background-image: url("images/Group\ 14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.goat-container-details h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.goat-container-details li{
    list-style: none;
    font-size: 1.5rem;
    padding: 10px;
}
.goat-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
}
.goat-button{
    display: flex;
    gap: 10px;
}
.sign{
    padding: 21px 40px;
    background-color:#FF42A5;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 45px;
    border: none;
}
.rogue{
    background-color: #4EC5F7;
    color: #FFF;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    

}

.gamer{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items:center ;
    text-align: center;
    width: 100%;
    gap: 80px;

    
}
.gamer-info{
    text-align: right;
    padding: 20px;
    margin-right: 150px;
   
}
.btn{
    text-align: right;
    border-radius: 50px;
    padding: 10px 40px;
    background-color:#FF42A5;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;

}
.btn:hover{
    border: 4px solid #FF42A5;
    color: #FF42A5;
    background-color: #FFF;
}
.color-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.all-title{
    font-size: 2.5rem;
    font-weight: 700;
   
}
.all-description{
    font-size: 1.2rem;
    font-weight: 400;
}
.gamer-image{
    margin-left: 150px;
}
.gamer-image img{
    width: 900px;
}
.gamer-info h4{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}
.gamer-description{
    font-size: 1.2rem;
    font-weight: 400;
}
strong{
    font-size: 2rem;
    font-weight: 700;
}
.videos-container{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.videos{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 60px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin:auto;
    text-align: center;

}
.videos img{
    width: 250px;
    height: 300px;
    border-radius: 8px;
    display: block;
}
.video{
    position: relative;
}

.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.5s;
    border-radius: 10px;

}
.content:hover{
    opacity: 1;
    border: 3px solid #FF42A5;
}
.content >*{
    transform: translateY(25px);
    transition: transform 0.5s;
}
.content:hover >*{
        transform: translateY(0px);

}
.content img{
    width: 48px;
    height: 48px;
   
}
.content p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #F948B2;
}
.instant-play{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 150px;
}
.play-info{
    width: 450px;
    text-align: right;
    align-items: center;
}
.play-image{
    border-radius: 10px;
    border: 5px solid white;
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: end;
}
.image1{
    width: 450px;
}
.image2{
    width: 200px;
    height: 30%;
    text-align: center;
    position:relative;
    bottom: -80px;
    right: 80%;
    margin: 0%;
}
.careers{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background-color: #FF42A5;
    
}
.career-info{
    text-align: left;
    padding: 20px;
    color: #FFF;
    width: 30%;
}
.career-button{
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #FFF;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    color: #F948B2;

}
.lists{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    
}
.lists li{
    list-style: none;
}
.games{
    width: 100%;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    text-align: center;

}
.btn-secondary{
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
}
.btn-secondary:hover{
    border: 4px solid #FF42A5;
    color: #FF42A5;
    background-color: #FFF;
}
footer{
    background-color: #0B0223;
    color: #FFF;
    text-align: center;
    padding: 40px;
}
.footer-logo, .footer-description, .footer-icon, .footer-policy{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 30px; 
    list-style: none;
}













/* For Mobile */
@media screen and (max-width:576px) {
    .navber{
        flex-direction: column;
        padding: 0px;
    }
    .nav-menu ul{
        flex-direction: column;
    }
    .goat-container{
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
        margin: auto;
    }
    .goat-container-photos img{
        width: 80% ;
    }
    .goat-container-details h3{
        font-size: 2rem;
    }
    .gamer{
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .gamer-image img{
        width: 80%;
    }
    .gamer-info{
        text-align: center;
        padding: 20px;
        margin: auto;
        margin-left: 0;
      
    }
    .gamer-image{
        margin-left: 0px;
    }
    .videos{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .instant-play{
        margin-top: 50px;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    .play-info{
        width: 250px;
        text-align: center;
        align-items: center;
    }
    .play-image{
        text-align: center;
        align-items: center;
    }
    .image1{
        width: 80%;
    }
    .image2{
        width: 30%;
        position:relative;
        bottom: -120px;
        right: 55%;
        margin: 0%;
    }
    .careers{
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin-right: 10px;
    }
    .lists{
        flex-direction: column;

    }
    .career-photo img{
        width: 100%;
        margin-left: 20px;
    }
    .career-info{
        text-align: center;
        width: 80%;
        padding: 20px;
    }
    .all-title{
        font-size: 2rem;
        font-weight: 700;
    }
    .all-description{
        font-size: 1rem;
        font-weight: 400;
    }
    .games{
        width: 80%;
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
        
        margin: 50px auto;
        gap: 10px;
        justify-content: center;
        text-align: center;
    }
    .gamer-description{
        font-size: 1rem;
        font-weight: 400;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .footer-logo, .footer-description, .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        justify-content:center ;
        text-align: center;
    }
    .footer-policy{
        flex-wrap: wrap;
    }
    
}

/* For tablet */
/* @media screen and (min-width:577px) and (max-width:992px) {
    .navber{
        flex-direction: column;
        padding: 0px;
    }
} */













